<!-- <h2>Register</h2>
<form [formGroup]="form" (ngSubmit)="register()">
  <input type="text" formControlName="name" placeholder="Name" /><br />
  <input type="text" formControlName="employeeId" placeholder="Employee ID" /><br />
  <input type="email" formControlName="email" placeholder="Email" /><br />
  <input type="password" formControlName="password" placeholder="Password" /><br />
  <select formControlName="role">
    <option value="EMPLOYEE">Employee</option>
    <option value="MANAGER">Manager</option>
    <option value="HR">HR</option>
  </select><br />
  <button type="submit">Register</button>
</form> -->

<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="form" (ngSubmit)="register()">
    <input type="text" formControlName="name" placeholder="Name" />
    <input type="text" formControlName="employeeId" placeholder="Employee ID" />
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />
    
    <select formControlName="role">
      <option value="" disabled selected>Select Role</option>
      <option value="EMPLOYEE">Employee</option>
      <option value="MANAGER">Manager</option>
      <option value="HR">HR</option>
    </select>
    
    <button type="submit">Register</button>
  </form>
</div>
